*{
    margin: 0;
    padding: 0;   
}
body{
    background-color: rgb(10, 10, 10);
}

.row{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color:#ffffff;
    padding-top: 20px;
    height: 40px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    -webkit-text-size-adjust: none;
    text-size-adjust: none; 
}
.content{
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    margin: 10px;
    
}
.row-content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(1,1fr);
    border-radius: 20px;
    column-gap: none;
    width: fit-content;

}
.row-content{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,2fr);
    margin: 100px;
    color: white;
}
img{
    width: 300px;
    height: 300px;
    padding-left: 200px;
    border-radius: 50%;

}

.col-content1{
    margin: 20px;
    padding-right:300px;
    

}

.row-footer{
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    background-color: #154164;
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
